<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @information_group.name %>
</p>

<p>
  <b>Description:</b>
  <%= @information_group.description %>
</p>

<p>
  <b>Notes:</b>
  <%= @information_group.notes %>
</p>

<p>
  <b>Template:</b>
  <%= @information_group.template %>
</p>

<p>
  <b>Parent:</b>
  <%= @information_group.parent %>
</p>

<p>
  <b>Information:</b>
  <%= @information_group.information %>
</p>

<p>
  <b>Primary:</b>
  <%= @information_group.primary %>
</p>

<p>
  <b>Data:</b>
  <%= @information_group.data %>
</p>

<p>
  <b>State:</b>
  <%= @information_group.state %>
</p>

<p>
  <b>Sync:</b>
  <%= @information_group.sync %>
</p>

<p>
  <b>Sync time:</b>
  <%= @information_group.sync_time %>
</p>

<p>
  <b>Change time:</b>
  <%= @information_group.change_time %>
</p>

<p>
  <b>History:</b>
  <%= @information_group.history %>
</p>

<p>
  <b>Deleted:</b>
  <%= @information_group.deleted_at %>
</p>

<p>
  <b>Archived:</b>
  <%= @information_group.archived_on %>
</p>

<p>
  <b>Active:</b>
  <%= @information_group.active %>
</p>

<p>
  <b>Locked:</b>
  <%= @information_group.locked_on %>
</p>

<p>
  <b>Visible:</b>
  <%= @information_group.visible %>
</p>

<p>
  <b>Audit log:</b>
  <%= @information_group.audit_log %>
</p>

<p>
  <b>Permalog:</b>
  <%= @information_group.permalog %>
</p>

<p>
  <b>Priority:</b>
  <%= @information_group.priority %>
</p>


<%= link_to 'Edit', edit_information_group_path(@information_group) %> |
<%= link_to 'Back', information_groups_path %>
