<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :contact %>
    
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :notes %>
    
    <%#= f.input :password_digest %>
    <%#= f.input :data %>
    <%#= f.input :state %>
    <%#= f.input :sync %>
    <%#= f.input :sync_time %>
    <%#= f.input :change_time %>
    <%#= f.input :history %>
    <%#= f.input :deleted_at %>
    <%#= f.input :archived_on %>
    <%= f.input :active %>
    <%#= f.input :locked_on %>
    <%#= f.input :visible %>
    <%#= f.input :audit_log %>
    <%#= f.input :permalog %>
    <%#= f.input :priority %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
